<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeManagementProject.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-DPC8B16\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagementProject.Properties.Settings.LoginScreenConnectionString"
            connectionString="Data Source=DESKTOP-DPC8B16\SQLEXPRESS;Initial Catalog=LoginScreen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagementProject.Properties.Settings.EmployeeManagementConnectionString"
            connectionString="Data Source=desktop-dpc8b16\sqlexpress;Initial Catalog=EmployeeManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>